{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('currency_chart') }}" class="btn btn-primary">Графика</a>
    </p>
    <div>
        <form action="">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <select name="char_code" class="form-control">
                            <option value=""></option>
                            {% for key, charCode in dropDownCharCode %}
                                <option value="{{ key }}" {{ key == params.get('char_code') ? 'selected': '' }}>{{ charCode }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <input type="text" name="date" class="datepicker form-control" value="{{ params.get('date') }}">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Пойск</button>
                <a href="{{ path('currency') }}" class="btn btn-primary">Сброс</a>
            </div>
        </form>
    </div>
    <p>
        <a href="{{ path('currency_download', params.all()) }}" class="btn btn-primary">Загрузить</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ knp_pagination_sortable(pagination, 'NumCode', 'c.num_code') }}</th>
            <th scope="col">{{ knp_pagination_sortable(pagination, 'CharCode', 'c.char_code') }}</th>
            <th scope="col">{{ knp_pagination_sortable(pagination, 'Nominal', 'c.nominal') }}</th>
            <th scope="col">{{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}</th>
            <th scope="col">{{ knp_pagination_sortable(pagination, 'Value', 'c.value') }}</th>
            <th scope="col">{{ knp_pagination_sortable(pagination, 'Date', 'c.date') }}</th>
        </tr>
        </thead>
        <tbody>
            {% for currency in pagination %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ currency.num_code }}</td>
                    <td>{{ currency.char_code }}</td>
                    <td>{{ currency.nominal }}</td>
                    <td>{{ currency.name }}</td>
                    <td>{{ currency.value }}</td>
                    <td>{{ currency.date }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
